<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="editEntry(entry)">
    <li hx-on="htmx:load:showFields(this.querySelector('select[name=type]'))">
        <form hx-post="/edit" hx-target="closest li" th:id="|form-${entry.id}|" hx-swap="innerHTML" name="edit">
            <input th:if="${entry}" type="hidden" name="id" th:value="${entry.id}"/>
            <select name="type" onchange="showFields(this)">
                <option th:each="type : ${T(demo.rest.EntryType).values()}"
                        th:value="${type}"
                        th:selected="${type == entry.type}"
                        th:text="${type}">
                </option>
            </select>

            <div name="fields">
                <div class="field Breakpoint" style="display:none">
                    <textarea name="comments" placeholder="Comments..." th:text="${entry.comments}"></textarea>
                </div>

                <div class="field Command" style="display:none">
                    <textarea name="commands" placeholder="Commands..." th:text="${entry.commands}"></textarea>
                </div>

                <div class="field DisplayFile" style="display:none">
                    <label>File Path</label>
                    <input type="text" name="path" placeholder="File path" th:value="${entry.path}"/>
                    <label>Content Type</label>
                    <input type="text" name="contentType" placeholder="Content type" th:value="${entry.contentType}"/>
                    <label>From line number (1 based)</label>
                    <input type="text" name="fromLine" placeholder="From line" th:value="${entry.fromLine}"/>
                    <label>Number of lines</label>
                    <input type="text" name="numberOfLines" placeholder="Number of lines" th:value="${entry.numberOfLines}"/>
                    <label>Indent</label>
                    <input type="text" name="indent" placeholder="Indent" th:value="${entry.indent}"/>
                </div>

                <div class="field Heading" style="display:none">
                    <select name="level">
                        <option th:each="type : ${T(demo.domain.Heading.HeadingLevel).values()}"
                                th:value="${type}"
                                th:selected="${type == entry.level}"
                                th:text="${type}"></option>
                    </select>
                    <input type="text" name="title" placeholder="Heading..." th:value="${entry.title}"/>
                </div>

                <div class="field Markdown" style="display:none">
                    <textarea name="contents" placeholder="Markdown..." th:text="${entry.contents}"></textarea>
                </div>

                <div class="field Todo" style="display:none">
                    <textarea name="comments" placeholder="Comments..." th:text="${entry.comments}"></textarea>
                </div>
            </div>

            <button name="update" type="submit">Update</button>
            <button
                    name="cancel"
                    th:hx-get="@{/{id}(id=${entry.id})}"
                    hx-target="closest li"
                    hx-swap="outerHTML">
                Cancel
            </button>
        </form>
    </li>
</th:block>

<th:block th:fragment="renderEntry(entry)">
    <li>
        <th:block th:utext="${entry.contents}"/>
        <div>
            <input type="hidden" name="id" th:value="${entry.id}"/>
            <button
                    name="edit"
                    hx-get="/edit"
                    hx-target="closest li"
                    hx-swap="innerHTML"
                    hx-include="closest li">
                Edit
            </button>
            <button
                    name="delete"
                    hx-delete="/delete"
                    hx-target="closest li"
                    hx-swap="innerHTML"
                    hx-include="closest li">
                Delete
            </button>
            Add
            <select name="type"
                    hx-post="/after"
                    hx-trigger="change"
                    hx-target="closest li"
                    hx-swap="afterend"
                    hx-include="closest li">
                <option th:each="type : ${T(demo.rest.EntryType).values()}"
                        th:value="${type}"
                        th:text="${type}"></option>
            </select>
        </div>
    </li>
</th:block>

<th:block th:fragment="undoDelete">
    Entry deleted
    <input type="hidden" name="id" th:value="${id}"/>
    <button name="undo" hx-post="/undo" hx-target="closest li" hx-swap="innerHTML" hx-include="closest li">
        Undo
    </button>
</th:block>

<th:block th:fragment="cannotUndoDelete">
    Deletion cannot be undone
</th:block>

</body>
</html>
