<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="editEntry(entry)">
    <li th:id="|row-${entry.id}|">
        <form hx-post="/" hx-target="#entries" th:id="|form-${entry.id}|" hx-swap="beforeend">
            <input th:if="${entry}" type="hidden" name="id" th:value="${entry.id}"/>
            <select name="type" onchange="showFields(this)">
                <option th:each="type : ${T(demo.rest.EntryType).values()}"
                        th:value="${type}"
                        th:selected="${type == entry.type}"
                        th:text="${type}">
                </option>
            </select>

            <div id="fields">
                <div class="field Breakpoint" style="display:none">
                    <textarea name="comments" placeholder="Comments..." th:text="${entry.comments}"></textarea>
                </div>

                <div class="field Command" style="display:none">
                    <textarea name="commands" placeholder="Commands..." th:text="${entry.commands}"></textarea>
                </div>

                <div class="field DisplayFile" style="display:none">
                    <input type="text" name="path" placeholder="File path" th:value="${entry.path}"/>
                </div>

                <div class="field Heading" style="display:none">
                    <select name="level">
                        <option th:each="type : ${T(demo.rest.HeadingLevel).values()}"
                                th:value="${type}"
                                th:selected="${type == entry.level}"
                                th:text="${type}"></option>
                    </select>
                    <input type="text" name="title" placeholder="Heading" th:value="${entry.title}"/>
                </div>

                <div class="field Markdown" style="display:none">
                    <textarea name="contents" placeholder="Markdown..." th:text="${entry.contents}"></textarea>
                </div>

                <div class="field Todo" style="display:none">
                    <textarea name="comments" placeholder="Comments..." th:text="${entry.comments}"></textarea>
                </div>
            </div>

            <button name="submit" type="submit">Update</button>
            <button
                    name="cancel"
                    th:hx-get="@{/{id}(id=${entry.id})}"
                    th:hx-target="'#row-'+${entry.id}"
                    hx-swap="outerHTML">
                Cancel
            </button>
        </form>
    </li>
</th:block>

<th:block th:fragment="renderEntry(entry)">
    <li th:id="|row-${entry.id}|">
        <th:block th:switch="${entry.type}">
            <th:block th:case="${T(demo.rest.EntryType).Breakpoint}">Breakpoint</th:block>
            <th:block th:case="${T(demo.rest.EntryType).Command}">Command</th:block>
            <th:block th:case="${T(demo.rest.EntryType).DisplayFile}">DisplayFile</th:block>
            <th:block th:case="${T(demo.rest.EntryType).Heading}"
                      th:replace="~{ :: renderHeading(${entry})}"></th:block>
            <th:block th:case="${T(demo.rest.EntryType).Markdown}">Markdown</th:block>
            <th:block th:case="${T(demo.rest.EntryType).Todo}">Todo</th:block>
        </th:block>
        <th:block th:replace="~{ :: renderEntryButtons(${entry.id})}"></th:block>
    </li>
</th:block>

<th:block th:fragment="renderHeading(entry)">
    <th:block th:switch="${entry.level}">
        <th:block th:case="${T(demo.rest.HeadingLevel).H1}"><h1 th:text="${entry.title} ?: 'Heading 1'"></h1></th:block>
        <th:block th:case="${T(demo.rest.HeadingLevel).H2}"><h2 th:text="${entry.title} ?: 'Heading 2'"></h2></th:block>
        <th:block th:case="${T(demo.rest.HeadingLevel).H3}"><h3 th:text="${entry.title} ?: 'Heading 3'"></h3></th:block>
        <th:block th:case="${T(demo.rest.HeadingLevel).H4}"><h4 th:text="${entry.title} ?: 'Heading 4'"></h4></th:block>
        <th:block th:case="${T(demo.rest.HeadingLevel).H5}"><h5 th:text="${entry.title} ?: 'Heading 5'"></h5></th:block>
    </th:block>
</th:block>

<th:block th:fragment="renderEntryButtons(id)">
    <input type="hidden" name="id" th:value="${id}"/>
    <button
            name="edit"
            hx-get="/edit"
            hx-target="closest li"
            hx-swap="outerHTML"
            hx-include="closest li">
        Edit
    </button>
    <select name="type"
            hx-post="/after"
            hx-trigger="change"
            hx-target="closest li"
            hx-swap="afterend"
            hx-include="closest li">
        <option th:each="type : ${T(demo.rest.EntryType).values()}" th:value="${type}" th:text="${type}"></option>
    </select>
</th:block>
</body>
</html>
