<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sociable Weaver - Editor</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<h1>Sociable Weaver - Editor</h1>

<ul id="entries">
    <th:block th:each="entry : ${entries}">
        <th:block th:replace="~{fragments/entry :: renderEntry(${entry})}"></th:block>
    </th:block>
</ul>

<script>
    function showFields(selectElement) {
        console.log('Toggle fields');
        const form = selectElement.closest("form");
        form.querySelectorAll("div[name=fields] .field").forEach(el => el.style.display = "none");
        form.querySelectorAll("div[name=fields] ." + selectElement.value).forEach(el => el.style.display = "block");
    }
</script>
</body>
</html>
